.input_form input {
  font: inherit;
  width: 70%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.3rem;
  border-radius: 10px;
  text-indent: 5px;
  position: relative;
  left: 6px;
  color: black;
}

.input_form input:focus {
  outline: none;
  border-color: #4f005f;
}

.span_form {
  display: block;
  font-size: 0.9em;
  font-style: oblique;
  margin-bottom: 0.2rem;
  color:#B23A48;
}

.input_form input[type=checkbox] {
  width: 4%;
  vertical-align: middle;
  position: relative;
}

.input_form input[type=textarea] {
  height: 23%;
  vertical-align: middle;
  position: relative;
}
