.button {
    font: inherit;
    border: 1px solid #808D8E;
    background: #808D8E;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #766C7F;
    border-color: #766C7F;
  }
  
  .button:focus {
    outline: none;
  }

