.create_posts {
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  width: 40%;
  max-width: 50rem;
}

.create_posts .ebs-form__field__label{
  font-weight: 600;
  font-size: 14px
}

.create_posts .ebs-button__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0 10px;
}

.create_posts .ebs-button--medium .ebs-button{
  font-weight: 600;
  font-size: 0.900rem;
}

.create_posts .ebs-form__item:not(:last-child){
  margin-bottom: 0.500rem;
}

.create_posts a:link {
  text-decoration: none;
}

.formHeader_posts {
  background-color: #dae0f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1.2em;
}

.formHeader_posts h1 {
  font-size: 30px;
  text-align: center;
  color: #000;
  padding: 10px 0;
}


.textarea {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.3 rem;
  border-radius: 10px;
  width: 70%;
  text-indent: 5px;
  position: relative;
  color: black;
}

textarea.textarea:focus {
  outline: none;
  border-color: #4f005f;
}

.button_register{
  background: #005E7C;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0.32rem 1rem;
}
.button_register:hover,
.button_register:active {
  background: #495c91;
  border-color: #495c91;
}