.input_registration {
  position: relative;
  margin: 3.5rem auto;
  padding: 1rem;
  width:430px;
  max-width: 40rem;
  align-items:center;
  justify-content: center;
}

.input_registration .ebs-form__field__label{
  font-weight: 600;
  font-size: 14px;
}

.input_registration .ebs-button__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0 10px;
} 

.input_registration .ebs-button{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 1-0px;
} 

.input_registration .ebs-button--medium .ebs-button{
  font-weight: 600;
  font-size: 0.900rem;
}

.input_registration .ebs-checkbox__wrapper {
  font-weight: 600;
  font-size: 0.900rem; 
}

.input_registration .ebs-form__item:not(:last-child){
  margin-bottom: 0.500rem;
}

.input_registration a:link {
  text-decoration: none;
}

.formHeader_registration {
  background-color: #dae0f2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1.2em;
}

.formHeader_registration h1 {
  font-size: 30px;
  text-align: center;
  color: #000;
  padding: 10px 0;
}

@media only screen and (max-width: 1000px) {
  .input_registration {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .input_registration {
    width: 70%;
  }
}


