.input {
    position: relative;
    margin: 7rem auto;
    padding: 1rem;
    width: 60%;
    max-width: 40rem;
  }
  .formHeader {
    background-color: #eff0f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .formHeader h1 {
    font-size: 30px;
    text-align: center;
    color: #666;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
  }
  
  .input label {
    display: block;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.9em;
  }
  
  .input select {
    font: inherit;
    display: center;
    width: 71%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }
  
  .input input[type=checkbox] {
      width: 4%;
      vertical-align: middle;
      position: relative;
      bottom: 1px;
  }

  