.input_login {
  position: relative;
  margin: 12rem auto;
  padding: 1rem;
  width: 60%;
  max-width: 40rem;
}
.form_header {
  background-color: #eff0f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1.2em;
}

.form_header h1 {
  font-size: 30px;
  text-align: center;
  color: #666;
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}

.input_label label {
  display: block;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 0.9em;
}

.input_label select {
  font: inherit;
  display: center;
  width: 71%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.input_label input[type="checkbox"] {
  width: 4%;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.button_register {
  background: #005e7c;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0.32rem 1rem;
}
.button_register:hover,
.button_register:active {
  background: #495c91;
  border-color: #495c91;
}
