.backdrop_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal_modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header_modal {
  background: #bdc2bf;
  padding: 1rem;
}

.header_modal h2 {
  margin: 0;
  color: white;
}

.content_modal {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.button_modal {
  background: #005e7c;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0.32rem 1rem;
  color: #fff;
}
.button_modal:hover,
.button_modal:active {
  background: #495c91;
  border-color: #495c91;
}

@media (min-width: 768px) {
  .modal_modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
