.card {
	background-color: white;
	color: #272727;
	padding: 5px;
	border-radius: 10px;
	border: 0px;
	border-color: #bdc2bf;
	border-style: solid;
	transition: 200ms;
    max-width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-top: 4rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.card:hover {
	transition: 200ms;
	border: 3px;
	border-color:#bdc2bf;
	border-style: solid;
}

.card-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

}

.profile {
	width: 2.5rem;
	height: 2.5rem;
	background-color: #bcc4db;
	border-radius: 50%;
	margin: 8px;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	justify-content: center;
}

.letter {
	vertical-align: middle;
	margin-left: 2px;
	margin-top: 2px;
}

.card-title-group {
	justify-content: center;
}

.card-title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 0;
	margin-top: 0;
}
.card-date {
	flex: 0.3;
	font-size: small;
	margin-top: 0;
}

.card-image {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
  	height: 250px;
	width: 250px
}

.card-text {
	font-size: medium;
	text-align: center;
	padding: 10px;
	justify-content: center;
}


.button-81 {
  background-color: #bcc4db;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0.34;
  padding: 0.7rem 0.9rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

.buttons{
	display: flex;
	margin-left: auto;
}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px 5px;
	background-color: #fff;
	color: #000;
}

button:hover{
	background-color: #1e293b;
  	color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 0.9rem 1rem;
  }
}